<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/62badcedc9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Berners-lee</title>
</head>

<body>
  <header class="header">
    <div class="header--menu">

      <img class="header--logo" src="/img/logo.png" alt="Logo">
      <a href="" class="header--menu--bar"><i class="fas fa-bars"></i></a>
    </div>

    <!-- menu de navegacion -->
    <nav class="header_nav">
      <ul class="header--nav--menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Babbage">babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>

  </header>
  <main class="main">
  
    <div class="main--caja--padre">
      <div class="main--caja--padre--hijo--title">
        <h1>BERNERS-LEE, Timothy</h1>
       </div>
      <div class="main--caja--padre--hijo">
      <h2>Descripción</h2>
      <img src="/img/TimothyBERNERS-LEE_3f9bf06ec619146819a4a1297ff53416.jpg" alt="">
      <p>
        Timothy Berners-Lee, (Londres, 1955). Es un informático británico. Considerado el padre de la World Wide Web
        (www), que ha revolucionado tanto el ámbito de las telecomunicaciones como la Sociedad. Diseñó el primer
        navegador de la historia denominado World Wide Web y el primer servidor web llamado Hyper Text Transfer Protocol
        Daemon (HTTPD). Defensor del acceso asequible a los datos y de la gratuidad de la web. Fundó el Consorcio de la
        World Wide Web (W3C) para estandarizar las tecnologías que permiten el funcionamiento de Internet.
      </p>
    </div>
    <div class="main--caja--padre--hijo">
      <h2>Biografía</h2>
      <p>
        Sir Timothy (Tim) BERNERS-LEE nació el 8 de junio de 1955 en el sudoeste de Londres. Sus padres, Conway
        Berners-Lee y Mary Lee Woods, eran ambos matemáticos. Formaron parte del equipo que construyó el Manchester Mark
        I, el primer ordenador comercial. Tim cursó sus estudios primarios en Sheen Mount Primary School. Desde 1969
        hasta 1973 estudió en Emanuel School de Londres. En 1976 se graduó con honores en Física en el Queen's College
        de la Universidad de Oxford.
      </p>
      <p>
        Tras graduarse, trabajó en la empresa de telecomunicaciones Plessey en Poole. En 1978 se incorporó a la
        Dirección General de Nash Limited en Ferndown, donde participó en la elaboración de un software para impresoras.
      </p>
      <p>
        En 1980 trabajó en el CERN (Conseil Européen pour la Recherche Nucléaire) en Ginebra, donde diseñó un
        procedimiento para facilitar la compartición y actualización de la información entre investigadores, basado en
        el concepto de hipertexto global. Con el objetivo de demostrar esta idea creó un prototipo que denominó ENQUIRE,
        mediante un programa de hipertexto que aunaba el concepto de web y web semántica con algunas diferencias. La
        portabilidad era una de sus mayores ventajas, si bien carecía de un sistema de representación de imágenes. Por
        ello, se considera más próximo al concepto de wiki o repositorio de información que a una página web. Se trataba
        de una base de datos con hipervínculos bidireccionales, edición directa desde el servidor y composición
        accesible. El principal objetivo era desarrollar un hipertexto global para conseguir uniformidad y una red de
        comunicaciones en Europa. ENQUIRE fue un importante precedente, que no terminó de cristalizar.
      </p>
      <p>
        Dejó su puesto en el CERN para comenzar a trabajar en John Poole's Image Computer Systems en Bournemouth
        (Dorset), donde se centró en la parte técnica y le reportó experiencia en redes de computación.
      </p>
      <p>
        En 2007 ganó el Premio Charles Stark Draper. En 2008 recibió el premio Wolfson James Clerk Maxwell de la
        IEEE/RSE por concebir y ayudar a desarrollar la World Wide Web. Durante ese año, fue admitido en la National
        Academy of Engineering. El profesor Tim Berners-Lee fue investido Doctor Honoris Causa por la Universidad
        Politécnica de Madrid a propuesta de la E.T.S. de Ingenieros de Telecomunicación, el día 21 de abril de 2009. Y
        en 2013 fue galardonado con el Queen Elizabeth Prize for Engineering.
      </p>

    </div>
  </div>
  </main>
  <footer>
    <div class="footer--nav">
      <a href="">Twitter <i class="fab fa-twitter"></i></a>
      <a href="">Facebook <i class="fab fa-facebook-square"></i></a>
      <a href="">Spotify <i class="fab fa-spotify"></i></a>
      <a href="">Apple <i class="fab fa-apple"></i></a>
      <a href="">Amazon <i class="fab fa-amazon"></i></a>
      <a href="">Instagram <i class="fab fa-instagram-square"></i></a>
    </div>
  </footer>
</body>

</html>