<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Home</title>
</head>
<body>
    <header class="header">  <!-- menu de navegacion -->
        <nav class="header_nav">
          <figure>
            <img class="logo" src="/img/logo.png" alt="">
          </figure>
          <ul class="header_nav_ul">
            <li><button type="button" class="button"><a href="/">Home</a></button></li>
            <li><button type="button" class="button"><a href="/Babbage">babbage</a></button></li>
            <li><button type="button" class="button"><a href="/berners-lee">Berners-lee</a></button></li>
            <li><button type="button" class="button"><a href="/clarke">Clarke</a></button></li>
            <li><button type="button" class="button"><a href="/hamilton">Hamilton</a></button></li>
            <li><button type="button" class="button"><a href="/hopper">Hopper</a></button></li>
            <li><button type="button" class="button"><a href="/lovelace">Lovelace</a></button></li>
            <li><button type="button" class="button"><a href="/turing">Turing</a></button></li>
          </ul> 
        </nav>
      </header>
      </header>
</body>
</html>