<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/babbage">babbage</a></li>
                <li><a href="/berners-lee">Berners-lee</a></li>
                <li><a href="/clarke">Clarke</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</a></li>
                <li><a href="/turing">Turing</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>