<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/62badcedc9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Hopper</title>
</head>

<body>
  <header class="header">
    <div class="header--menu">

      <img class="header--logo" src="/img/logo.png" alt="Logo">
      <a href="" class="header--menu--bar"><i class="fas fa-bars"></i></a>
    </div>

    <!-- menu de navegacion -->
    <nav class="header_nav">
      <ul class="header--nav--menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Babbage">babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>

  </header>
  <main class="main">
    <div class="main--caja--padre">
      <div class="main--caja--padre--hijo--title">
        <h1>Grace Murray Hopper</h1>
      </div>
      <div class="main--caja--padre--hijo">
        <img src="/img/grace-hopper.jpg" alt="">
        <p>
          Grace Murray Hopper es conocida como la primera mujer 'hacker' de la historia. Nació el 9 de diciembre, pero
          de hace 116 años (1906), en Nueva York, en una familia de tradición militar. Su nombre de soltera (y de
          nacimiento) era Grace Brewster Murray.
        </p>
        <p>
          De su formación destaca su licenciatura en matemáticas y físicas en 1928, en la universidad privada para
          mujeres Vassar College, y su máster y doctorado en matemáticas, en la Universidad de Yale, en 1930 y 1934
          respectivamente. Sin embargo, si por algo ha pasado a la historia, ha sido por ser la creadora del lenguaje de
          programación COBOL y el primer compilador.
        </p>
      </div>
      <div class="main--caja--padre--hijo">
        <img src="/img/grace-murray-hopper-univac.jpeg" alt="">
        <p>
          Grace Murray Hopper trabajando con el ordenador electromecánico UNIVAC.
        </p>
        <p>
          Ella misma señaló que diseñó su compilador porque era perezosa y quería que el programador fuese matemático.
          Además, formó parte del equipo que desarrolló Flow-Matic, el primer compilador de procesamiento de batos
          basado en comandos en inglés para el cálculo de nóminas.
        </p>
      </div>
      <div class="main--caja--padre--hijo">
        <img src="/img/grace-murray-hopper-militar.jpeg" alt="">
        <p>
          Grace Murray Hopper llegó a ser contraalmirante en la Armada estadounidense.
        </p>
        <p>
          Otra vez en reserva, en 1973, se convirtió en la primera mujer en alcanzar el cargo de capitán de navío, y
          terminó retirándose en 1986, como contraalmirante, siendo la persona de la Armada estadounidense con más edad
          en retirarse en la historia. Sin embargo, Grace no dejó de trabajar hasta su fallecimiento, ya que se
          incorporó en la empresa Digital Equipment Corporation (DEC), donde estuvo hasta 1992.
        </p>

      </div>
    </div>
  </main>
  <footer>
    <div class="footer--nav">
      <a href="">Twitter <i class="fab fa-twitter"></i></a>
      <a href="">Facebook <i class="fab fa-facebook-square"></i></a>
      <a href="">Spotify <i class="fab fa-spotify"></i></a>
      <a href="">Apple <i class="fab fa-apple"></i></a>
      <a href="">Amazon <i class="fab fa-amazon"></i></a>
      <a href="">Instagram <i class="fab fa-instagram-square"></i></a>
    </div>
  </footer>
</body>

</html>