<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <!-- menu de navegacion -->
      <nav class="header_nav">
        <figure>
          <img class="logo" src="/img/logo.png" alt="" />
        </figure>
        <ul class="header_nav_ul">
          <li>
            <button type="button" class="button"><a href="/">Home</a></button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/Babbage">babbage</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/berners-lee">Berners-lee</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/clarke">Clarke</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/hamilton">Hamilton</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/hopper">Hopper</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/lovelace">Lovelace</a>
            </button>
          </li>
          <li>
            <button type="button" class="button">
              <a href="/turing">Turing</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <h1>La historia de la informática y la programación</h1>

      <section class="main_section">
        <article>
          <p>
            Década de 1940: Los Inicios Surge la informática moderna con la
            construcción de las primeras computadoras electrónicas, como el
            ENIAC (1946), utilizadas principalmente para cálculos científicos y
            militares.
          </p>

          <figure>
            <img src="/img/inac.png" alt="" height="360" />
          </figure>
        </article>

        <article>
          <p>
            Década de 1950: Lenguajes de Programación Se desarrollan los
            primeros lenguajes de programación, como el Fortran (1957) y el
            COBOL (1959), permitiendo a los programadores escribir instrucciones
            en un formato más cercano al lenguaje humano.
          </p>

          <figure>
            <img
              src="./img/COBOL_programa_informatico.jpg"
              height="360"
              alt=""
            />
          </figure>
        </article>
        <article>
          <p>
            Década de 1960: Sistemas Operativos Aparecen los primeros sistemas
            operativos, como el UNIX (1969), que facilitan la interacción entre
            el hardware y el software de las computadoras.
          </p>

          <figure>
            <img src="/img/unix.png" alt="" height="360" />
          </figure>
        </article>
        <article>
          <p>
            Década de 1970: Microprocesadores y Computadoras Personales, La
            invención del microprocesador (Intel 4004, 1971) allana el camino
            para las computadoras personales, como el Altair 8800 (1975) y el
            Apple I (1976), que desencadenan la revolución de la informática
            doméstica.
          </p>

          <figure>
            <img src="/img/Altair.jpg" alt="" height="360" />
            <img src="/img/Intel_C4004.jpg" alt="" height="360" />
          </figure>
        </article>
        <article>
          <p>
            Década de 1980: GUI y Computadoras Personales Se popularizan las
            interfaces gráficas de usuario (GUI) con computadoras como el Apple
            Macintosh (1984) y el sistema operativo Windows (1985), facilitando
            la interacción con las computadoras.
          </p>

          <figure>
            <img src="/img/apple-maki.jpg" alt="" height="360" />
            <img src="/img/Arranque_de_Windows.png" alt="" height="360" />
          </figure>
        </article>
        <article>
          <p>
            Década de 1990: Internet y la World Wide Web La invención de la
            World Wide Web (1990) por Tim Berners-Lee y el crecimiento de
            Internet transforman la forma en que se comparte la información y se
            comunican las personas.
          </p>

          <figure>
            <img src="/img/WorldWideWeb.png" alt="" height="360" />
          </figure>
        </article>
      </section>
    </main>
  </body>
</html>
