<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/62badcedc9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

  <title>Home</title>
</head>

<body>
  <header class="header">
    <div class="header--menu">
      <img class="header--logo" src="/img/logo.png" alt="Logo">
    </div>
    <label for="menu" class="nav__lavel"><i class="fas fa-bars"></i></label>
    <input type="checkbox" id="menu" class="nav__imput">
    <!-- menu de navegacion -->
    <nav class="header_nav">
      <ul class="header--nav--menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Babbage">babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>

  </header>
  <main class="main">

    <h1>La historia de la informática y la programación</h1>
    <div class="main--section">


      <article class="main--section--article">
        <p>
          Década de 1940: Los Inicios Surge la informática moderna con la
          construcción de las primeras computadoras electrónicas, como el
          ENIAC (1946), utilizadas principalmente para cálculos científicos y
          militares.
        </p>

        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="/img/inac.png" alt="">
        </div>
      </article>

      <article class="main--section--article">
        <p>
          Década de 1950: Lenguajes de Programación Se desarrollan los
          primeros lenguajes de programación, como el Fortran (1957) y el
          COBOL (1959), permitiendo a los programadores escribir instrucciones
          en un formato más cercano al lenguaje humano.
        </p>

        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="./img/COBOL_programa_informatico.jpg" alt="">
        </div>
      </article>
      <article class="main--section--article">
        <p>
          Década de 1960: Sistemas Operativos Aparecen los primeros sistemas
          operativos, como el UNIX (1969), que facilitan la interacción entre
          el hardware y el software de las computadoras.
        </p>
        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="/img/unix.png" alt="">
        </div>
      </article>
      <article class="main--section--article">
        <p>
          Década de 1970: Microprocesadores y Computadoras Personales, La
          invención del microprocesador (Intel 4004, 1971) allana el camino
          para las computadoras personales, como el Altair 8800 (1975) y el
          Apple I (1976), que desencadenan la revolución de la informática
          doméstica.
        </p>
        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="/img/Altair.jpg" alt="">
          <img class="main--section--article--img" src="/img/Intel_C4004.jpg" alt="">
        </div>
      </article>
      <article class="main--section--article">
        <p>
          Década de 1980: GUI y Computadoras Personales Se popularizan las
          interfaces gráficas de usuario (GUI) con computadoras como el Apple
          Macintosh (1984) y el sistema operativo Windows (1985), facilitando
          la interacción con las computadoras.
        </p>
        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="/img/apple-maki.jpg" alt="">
          <img class="main--section--article--img" src="/img/Arranque_de_Windows.png" alt="">
        </div>
      </article>
      <article class="main--section--article">
        <p>
          Década de 1990: Internet y la World Wide Web La invención de la
          World Wide Web (1990) por Tim Berners-Lee y el crecimiento de
          Internet transforman la forma en que se comparte la información y se
          comunican las personas.
        </p>
        <div cless="main--section--article--caja">
          <img class="main--section--article--img" src="/img/WorldWideWeb.png" alt="">
        </div>
      </article>
    </div>
  </main>
  <footer>
    <div class="footer--nav">
      <a href="">Twitter <i class="fab fa-twitter"></i></a>
      <a href="">Facebook <i class="fab fa-facebook-square"></i></a>
      <a href="">Spotify <i class="fab fa-spotify"></i></a>
      <a href="">Apple <i class="fab fa-apple"></i></a>
      <a href="">Amazon <i class="fab fa-amazon"></i></a>
      <a href="">Instagram <i class="fab fa-instagram-square"></i></a>
    </div>
  </footer>
</body>

</html>