<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/62badcedc9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Turing</title>
</head>

<body>
  <header class="header">
    <div class="header--menu">

      <img class="header--logo" src="/img/logo.png" alt="Logo">
      
    </div>
    <label for="menu" class="nav__lavel"><i class="fas fa-bars"></i></label>
    <input type="checkbox" id="menu" class="nav__imput">
    <!-- menu de navegacion -->
    <nav class="header_nav">
      <ul class="header--nav--menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Babbage">babbage</a></li>
        <li><a href="/berners-lee">Berners-lee</a></li>
        <li><a href="/clarke">Clarke</a></li>
        <li><a href="/hamilton">Hamilton</a></li>
        <li><a href="/hopper">Hopper</a></li>
        <li><a href="/lovelace">Lovelace</a></li>
        <li><a href="/turing">Turing</a></li>
      </ul>
    </nav>

  </header>
  <main class="main">
    <div class="main--caja--padre">
      <div class="main--caja--padre--hijo--title">
        <h1></h1>
      </div>
      <div class="main--caja--padre--hijo">
        <p>
          Turing nació en el distrito londinense de Maida Vale.10 Su padre, Julius Mathison Turing (1873-1944), era
          miembro del cuerpo de funcionarios británicos en la India. Su madre, Ethel Sara Stoney, era hija de Edward
          Waller Stoney, ingeniero jefe de Madras Railways. Los Stoney eran una familia de la nobleza protestante
          angloirlandesa de los condados de Tipperary y Longford, mientras que la propia Ethel había pasado gran parte
          de su infancia en el condado de Clare.
        </p>
       
        <img src="/img/turing.jpg" alt="">
      </div>
       <div class="main--caja--padre--hijo">
         <p>
          En su estudio Los números computables, con una aplicación al Entscheidungsproblem (publicado el 28 de mayo de
          1936), Turing reformuló los resultados obtenidos por Kurt Gödel en 1931 sobre los límites de la
          demostrabilidad y la computación, sustituyendo al lenguaje formal universal descrito por Gödel por lo que hoy
          se conoce como máquina de Turing, unos dispositivos formales y simples.20
          </p>
          <p>
          Turing demostró que dicha máquina era capaz de resolver cualquier problema matemático que pudiera
          representarse mediante un algoritmo. Las máquinas de Turing siguen siendo el objeto central de estudio en la
          teoría de la computación. Llegó a probar que no había ninguna solución para el problema de decisión,
          Entscheidungsproblem, demostrando primero que el problema de la parada para las máquinas de Turing es
          irresoluble: no es posible decidir algorítmicamente si una máquina de Turing dada llegará a pararse o no.
          Aunque su demostración se publicó después de la demostración equivalente de Alonzo Church respecto a su
          cálculo lambda, el estudio de Turing es mucho más accesible e intuitivo.21 También fue pionero con su
          concepto de «máquina universal (de Turing)», con la tesis de que dicha máquina podría realizar las mismas
          tareas que cualquier otro tipo de máquina. Su estudio también introduce el concepto de
        </p>
       </div>
    </div>
  </main>
  <footer>
    <div class="footer--nav">
      <a href="">Twitter <i class="fab fa-twitter"></i></a>
      <a href="">Facebook <i class="fab fa-facebook-square"></i></a>
      <a href="">Spotify <i class="fab fa-spotify"></i></a>
      <a href="">Apple <i class="fab fa-apple"></i></a>
      <a href="">Amazon <i class="fab fa-amazon"></i></a>
      <a href="">Instagram <i class="fab fa-instagram-square"></i></a>
    </div>
  </footer>
</body>

</html>