@media (max-width: 1023px) {
  .header{
    background-color: lightslategray;
  }
  
  .header--menu{
    width: 200px;
     display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 0 auto;
    align-items: center;
  }
  
  .header--logo{
    
    width: 100%;
  }
  
  .nav__lavel{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .nav__imput{
    display: none;
  }
  
  .header_nav{
    background-color: lightslategrey;
    display: flex;
    float:left ;
    width: 50%;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: all 0.5ms;
    transition: all 1s ease-in-out;
  }
  
  .header--nav--menu li a{
    margin: 10px 15px;
  }
  
  .nav__imput:checked+.header_nav {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: lightslategrey;
    z-index: 100;
  }
  
  
  .header_nav li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: 0.2s;
  }
  
}

@media(min-width: 1024px){
  .header{
    background-color: lightslategray;
    }
    
.header_nav{
  width: 100%;
  height: auto;
}  
.header--menu{
  width: 300px;
   display: flex;
  justify-content: space-around;
  padding: 15px;
  margin: 0 auto;
  align-items: center;
}

.header--logo{
  
  width: 100%;
}
    .header--nav--menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 10px;
      padding: 20px 0;
      justify-content: space-evenly;
      gap: 15px;
    }

    
    .header--nav--menu li{
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 0;
      width: 100%;
     
    }
    .header--nav--menu li :hover{
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.8;
    }
    
    .header--nav--menu li a{
      text-align: center;
    width: 100%;
    }
    
    .nav__lavel{
      display:none;
    }
    .nav__imput{
      display: none;
    }
}